header {
  background-image: url('amusement_park_night.jpg');
  font-size: 45px;
  width: 85%;
  margin: 25px auto;
  padding: 25px;
  opacity: 75%;
  background-position: center;
} 

body {
  background-image: url('stressedLinen.jpg');
  color: white;
  background-color: gray;
  font-family: "lucida console";
}

header h1 {
  background-color: rgb(136, 141, 146);
  opacity: 80%;
  padding: 25px;
  color: #fff;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li::before {
 content: ' || ';
}

.container {
  display: flex;
  align-items: stretch;
  min-height: 150px;
  justify-content: space-between;
  padding: 25px;
  margin: 10px;
  opacity: 80%;
}

.container-quests {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 150px;
  justify-content: space-around;
  padding: 25px;
  margin: 10px;
  opacity: 80%;
}

.box {
  background-color: rgba(190, 120, 120, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
}

.quest-active {
  background-color: rgba(121, 120, 190, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  margin: 10px;
  text-align: center;
}

.quest-complete {
  background-color: rgba(82, 87, 117, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  margin: 10px;
  text-align: center;
}

.container-npc {
  background-color: rgb(85, 55, 79);
  display: flex;
  align-items: stretch;
  min-height: 150px;
  justify-content: space-between;
  padding: 25px;
  opacity: 90%;
}

.box-npc-name {
  background-color: rgba(87, 22, 22, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  opacity: 95%;
}

.box-npc-location {
  background-color: rgba(14, 71, 31, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  opacity: 95%;
}

.box-npc-details {
  background-color: rgba(75, 19, 72, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  opacity: 95%;
}

.box-npc-see-also {
  background-color: rgba(13, 36, 85, 0.733);
  background-size: contain;
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  opacity: 95%;
}

.title {
  background:rgb(39, 37, 38);
}

.container-test1 {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 150px;
  justify-content: space-between;
  padding: 25px;
  margin: 10px;
  height: 500px;
  overflow: auto;
}

.container-test2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;;
}

.button_slide {
  color: #FFF;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin: 10px;
}



.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

#outer {
  display: flex;
  width: 100%;
  margin: 10 px auto;
  text-align: center;
  padding: 25px;
  justify-content: center;
}
