header {
    background-image: url('waterfall.jpg');
    font-size: 45px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('background.jpg');
    color: white;
    font-family: "lucida console";
}

thead {
    background-color:rgba(22, 161, 115, 0.767);
}

th {
    background-color: rgba(211, 113, 81, 0.849);
}

h1, h2 {
    text-align: center;
}

table {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 25%
}

.title {
    background:rgb(39, 37, 38);
}
