header {
  background-image: url('carnivalLights.jpg');
  font-size: 45px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
} 

body {
  background-image: url('stressedLinen.jpg');
  color: white;
  background-color: gray;
  font-family: "lucida console";
}

.container {
  background-color: rgb(121, 137, 153);
  display: flex;
  align-items: stretch;
  min-height: 150px;
  justify-content: space-between;
  padding: 25px;
  margin: 10px;
  opacity: 80%;
}

.box {
  background-color: rgba(107, 101, 101, 0.733);
  border: 1px solid white;
  padding: 25px;
}

.container-npc {
  background-color: rgb(85, 55, 79);
  display: flex;
  align-items: stretch;
  min-height: 150px;
  justify-content: space-between;
  padding: 25px;
  opacity: 90%;
}

.box-npc-name {
  background-color: rgba(87, 22, 22, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  opacity: 95%;
}

.box-npc-location {
  background-color: rgba(14, 71, 31, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  opacity: 95%;
}

.box-npc-details {
  background-color: rgba(75, 19, 72, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  opacity: 95%;
}

.box-npc-see-also {
  background-color: rgba(13, 36, 85, 0.733);
  border: 1px solid white;
  padding: 25px;
  width: 20%;
  opacity: 95%;
}

.title {
  background:rgb(39, 37, 38);
}

.container-test1 {
  /* background-color: rgb(85, 55, 79); */
  background-image: url('amusement_park_night.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 150px;
  justify-content: space-between;
  padding: 25px;
  margin: 10px;
  height: 450px;
  overflow: auto;
}

.container-test2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;;
}
